{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class='twcss:container twcss:mx-auto twcss:w-full twcss:max-w-7xl twcss:px-6 twcss:xl:px-0 section-{{ section.id }}-padding'>
  <div class='twcss:flex twcss:flex-col twcss:items-center'>
    {%- if section.settings.heading != blank -%}
      <div class='twcss:text-center twcss:mb-12'>
        <h2 class='twcss:text-xl twcss:font-semibold twcss:text-gray-700'>
          {{ section.settings.heading }}
          {%- if section.settings.heading_highlight != blank -%}
            <span class='twcss:text-indigo-600 twcss:font-bold'>{{ section.settings.heading_highlight }}</span>
          {%- endif -%}
        </h2>
      </div>
    {%- endif -%}

    <div class='twcss:flex twcss:flex-wrap twcss:items-center twcss:justify-center twcss:gap-16 twcss:md:gap-24'>
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'logo' -%}
            <div
              class='twcss:flex twcss:h-16 twcss:w-32 twcss:items-center twcss:justify-center twcss:md:h-20 twcss:md:w-40'
              {{ block.shopify_attributes }}
            >
              {%- if block.settings.logo_svg != blank -%}
                <div class='twcss:w-full twcss:h-full twcss:flex twcss:items-center twcss:justify-center twcss:text-gray-400'>
                  {{ block.settings.logo_svg }}
                </div>
              {%- elsif block.settings.logo_image != blank -%}
                {{
                  block.settings.logo_image
                  | image_url: width: 200
                  | image_tag:
                    class: 'twcss:w-auto twcss:h-auto twcss:max-h-full twcss:max-w-full twcss:object-contain',
                    loading: 'lazy'
                }}
              {%- else -%}
                {{
                  'image'
                  | placeholder_svg_tag: 'twcss:w-auto twcss:h-auto twcss:max-h-full twcss:max-w-full twcss:object-contain'
                }}
              {%- endif -%}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Logo List",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Trusted by"
    },
    {
      "type": "text",
      "id": "heading_highlight",
      "label": "Heading Highlight",
      "default": "2000+"
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "limit": 8,
      "settings": [
        {
          "type": "textarea",
          "id": "logo_svg",
          "label": "Logo SVG",
          "info": "Paste your SVG code here. It will take precedence over the image if both are provided."
        },
        {
          "type": "image_picker",
          "id": "logo_image",
          "label": "Logo Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo List",
      "blocks": [
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        }
      ]
    }
  ]
}
{% endschema %}
