{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="twcss-bg-white section-{{ section.id }}-padding">
  <div class="twcss-mx-auto twcss-max-w-screen-xl twcss-px-4 twcss-py-12 sm:twcss-px-6 lg:twcss-px-8 lg:twcss-py-16">
    <h2 class="twcss-text-center twcss-text-4xl twcss-font-bold twcss-tracking-tight twcss-text-gray-900 sm:twcss-text-5xl">
      {{ section.settings.title }}
    </h2>

    <div class="twcss-mt-8 twcss-[column-fill:_balance] sm:twcss-columns-2 sm:twcss-gap-6 lg:twcss-columns-3 lg:twcss-gap-8">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'testimonial' -%}
            <div class="twcss-mb-8 sm:twcss-break-inside-avoid" {{ block.shopify_attributes }}>
              <div class="twcss-rounded-lg twcss-bg-gray-50 twcss-p-6 twcss-shadow-sm sm:twcss-p-8">
                <div class="twcss-flex twcss-flex-col twcss-gap-4 twcss-text-center">
                  <div class="twcss-w-50">
                    <div class="twcss-flex twcss-justify-center twcss-gap-0.5 twcss-text-red-500">
                      {%- for i in (1..5) -%}
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="twcss-size-10"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                        >
                          <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                          />
                        </svg>
                      {%- endfor -%}
                    </div>

                    <p class="twcss-mt-0.5 twcss-text-2xl twcss-font-bold twcss-text-gray-900 ">{{ block.settings.author }}</p>
                  </div>
                </div>

                <p class="twcss-mt-4 twcss-text-gray-700 twcss-text-md">
                  {{ block.settings.content }}
                </p>
              </div>
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Testimonials",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Read trusted reviews from our customers"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "image_picker",
          "id": "avatar",
          "label": "Avatar"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author",
          "default": "John Doe"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content",
          "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quaerat quasi ipsa repellendus quam!"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials",
      "blocks": [
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        }
      ]
    }
  ]
}
{% endschema %}